<a href="https://colab.research.google.com/github/Zilonar/ThinkStats2/blob/master/Williams530Week2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''
Assignment: Exercise 2.1
Name: Ferrell, Michael
Date: 2024-06-16
Display the text “Hello World! My name is ...."
Add two numbers together
Subtract a number from another number
Multiply two numbers
Divide between two numbers
Concatenate two strings together (any words)
Create a list of 4 items (can be strings, numbers, both)
Append an item to your list (again, can be a string, number)
Create a tuple with 4 items (can be strings, numbers, both)
'''
# Variables
num1 = 1
num2 = 2
str1 = "String 1"
str2 = "String 2"
# Formulas Part 1
add = num1 + num2
sub = num1 - num2
multiply = num1 * num2

divide = num1 / num2
concat = str1 + " " + str2
my_list = ["banana", "apple", "tangerine”, “pineapple"]
# Printing Part 1
print("Hello World! My name is Michael Ferrell") # Printing Hello World
print("Sum:", add)
print("Subtraction:", sub)
print("Multiplication:", multiply)
print("Division:", divide)
print("Concatenated String:", concat)
print("List:", my_list)
# Formulas Part 2
my_list.append("'papaya'")
my_tuple = (1, 2, "banana", "apple")
# Printing Part 2
print("Updated List:", my_list)
print("Tuple:", my_tuple)


OUTPUT\
Hello World! My name is Michael Ferrell\
Sum: 3\
Subtraction: -1\
Multiplication: 2\
Division: 0.5\
Concatenated String: String 1 String 2\
List: ['banana', 'apple', 'tangerine', 'pineapple']\
Updated List: ['banana', 'apple', 'tangerine', 'pineapple', 'papaya']\
Tuple: (1, 2, 'banana', 'apple')